/* style.css par françois QUIVRON, pour Exercice CV Simplon */

/*couleurs que je veux utiliser :
Orange : FBA83F
Corail : F44A47
Violet : 840D76
Bleu Foncé : 3F768D
Bleu Clair : 79BAB1
*/


html {
  z-index: 0;

  font-family: Helvetica;
  color: #79BAB1;
  background-color: #3F768D;

}

body {
  background-color: #2E677C;
  margin-top: auto;

}

header {
/*Je positionne Mon nom et mon prénom au dessus, et je veux qu'il y reste tout le temps*/
  position :  fixed;
  left: 0%;
  top: 0px;
  width: 100%;
  z-index: 10;

  background-color: #F44A47;
  color: #840D76;
  text-align: center;
  text-shadow: 1px 1px 2px grey;
  border-radius: 8px;
  margin-left: 10%;
  margin-right: -10%;
  margin-top: 5px;
  width: 80%;
  box-shadow: 0 0 15px #2C3E50;
  letter-spacing: 3px;

  transform: rotate(2deg);

}

main {
/* j'ajoute une marge au dessus pour que le haut du texte du main soit visible et ne passe pas en dessous de mon nom*/
  margin-top: 15%;

}

footer {
  background-color: #F44A47;
  color: #840D76;
  margin-bottom: 0px;
  font-size: 10px;
  text-align: center;

}

h2 {
  text-align: center;
  color: #3F768D;
  background-color: #79BAB1;
  width: 95%;
  margin-left: 2.5%;
  position :static;
  box-shadow: inset 0 0 3px #2C3E50;
  text-shadow: inset 0 0 3px #2C3E50;
  font-size: 30px;
  border-radius: 2px;



}

h3 {
  text-align: center;
  text-shadow: 0 0 3px #F44A47;
}

li {
  list-style-type: none;
  border-left: 3px solid #840D76;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 2%;
}

li:before {
	content: "\BB \ "; /* caractère ISO 10646 */
}

p {
  text-align: center;
  font-style: italic;
}
